SeanSpace/bin/
SeanSpace/obj/
packages/Microsoft.AspNet.Mvc.3.0.20105.1/
packages/Microsoft.AspNet.Razor.1.0.20105.408/
packages/Microsoft.Web.Infrastructure.1.0.0.0/
packages/Microsoft.AspNet.WebPages.1.0.20105.408/
